body {

  /* background: linear-gradient(180deg, #2B3B60 0.84%, #1B223F 100%); */
  background: #1B223F;
  height: 100vh;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

section #landing {
  height: 100vh; /* Full viewport height */
}

.container {
  max-width: 90%;
  margin: auto;
}

/* .dropzone-container {
  display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 80vh; */
  /* background: #121832;
  border-radius: 10px;
} */

.dropzone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  background: #121832;
  border-radius: 10px;
  padding: 100px;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .dropzone-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: fit-content;
  padding: 90px;
  border: 2px dashed #FFF6F6;
  border-radius: 10px;
  color: #FFF6F6;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease-in-out; */
  /* height: 48vh; */
  /* min-height: 40vh; */
  /* border-radius: 50px; */
  /* transition: background-color 0.3s ease; */
/* } */

.dropzone-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 150px;
  border: 2px dashed #FFF6F6;
  border-radius: 10px;
  color: #FFF6F6;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease-in-out;
}

.hell-1 {
  width: 24%;
  height: 18vh;
  padding:3px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  /* border: solid #fff 1px; */
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.1);
}

.hell-1:hover{
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}
/* img.showimgs img {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  height: 100% !important;
} */

/* .hell-1 img { */
  /* width: 100%;
  height: 100%; */
  /* border-radius: 10px; */
/* } */

.hell-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  outline: none !important;
  border: none !important
}

.hell-1 img:focus, .hell-1 img:active{
  outline: none !important;   /* Remove outline for the image */
  border: none !important;    
}

.drag-icon {
  margin-bottom: 20px;
}

.dropzone-box p {
  font-size: 1.2rem;
}

.drag-svg-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 35px;
}

/* .dropzone-container:hover .dropzone-box { */
/* .dropzone-container:hover{
  cursor: pointer;
} */
.dropzone-box:hover {
  cursor: pointer;
  background-color: #fff;
  color: #121832;
  border-color: #121832;
}


.new-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px;
  background-color: #0d1a3a;
  box-shadow: rgb(5 5 5 / 100%) 6px 2px 16px 5px, rgb(53 49 49 / 90%) -6px -2px 16px 0px;
}

.new-project-title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

/* Form Styling */
.new-project-form {
  width: 100%;
  padding: 30px;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.input-group label {
  color: #fff;
  margin-bottom: 5px;
}

.input-group input {
  padding: 23px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.input-group input::placeholder {
  color: #aaa;
}

/* Project Path Input with Folder Icon */
.project-path-container {
  display: flex;
  align-items: center;
  position: relative;
}

.project-path-container input {
  flex-grow: 1;
  padding-right: 40px;
  /* Extra space for the folder icon */
}

.folder-icon {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
  color: #fff;
}

/* Button Styling */
.buttons-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 45%;
}
.btn.primary {
  background-color: #3b78e7;
  color: #fff;
  border: none;
}
.btn.primary:hover {
  background-color: #2a65d4;
}
.btn.secondary {
  background-color: transparent;
  color: #fff;

  border: 2px solid #3C5199;
  padding: 17px;
  font-size: 20px;
  width: 60%;
}
.btn.secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn.primary {
  background: linear-gradient(267deg, #1f284d 0.84%, #3b4f96 100%);
  color: #fff;
  border: none;
  padding: 17px;
  font-size: 20px;
  width: 60%;
}
.popup {
  width: 30%;
  position: absolute;
  top: 18%;
  margin: auto;
  left: 32%;
  height: 40vh;
  padding: 20px;
}
.first {
  display: flex;
  gap: 20px;
  height: 100vh;
}
.mainsec {
  width: 75%;
}
.sidebar {
  background-color: #121832;
  width: 25%;
}
.alignment {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.imagegallery {
  padding-top: 40px;
  display: flex;
  gap: 30px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dragp {
  font-size: 14px !important;
}

/* From Uiverse.io by KSAplay */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.loading-text {
  color: white;
  font-size: 14pt;
  font-weight: 600;
  margin-left: 10px;
}

.dot {
  margin-left: 3px;
  animation: blink 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.loading-bar-background {
  --height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  width: 200px;
  height: var(--height);
  background-color: #212121;
    /*change this*/
  box-shadow: #0c0c0c -2px 2px 4px 0px inset;
  border-radius: calc(var(--height) / 2);
}

.loading-bar {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  --height: 20px;
  width: 0%;
  height: var(--height);
  overflow: hidden;
  background: rgb(7, 39, 82);
  background: linear-gradient(0deg,
      rgb(9, 42, 112) 0%,
      rgb(2, 81, 117) 100%);
  border-radius: calc(var(--height) / 2);
  animation: loading 4s ease-out infinite;
}

.white-bars-container {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 18px;
}

.white-bar {
  background: rgb(255, 255, 255);
  background: linear-gradient(-45deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 70%);
  width: 10px;
  height: 45px;
  opacity: 0.3;
  rotate: 45deg;
}

@keyframes loading {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media (max-width: 1600px) {
  .dropzone-container{
    width: 95%;
    margin: auto;
    padding: 100px;
  }

  .dropzone-box{
    border-radius: 10px;
    font-size: 1em;
    padding: 150px;
    width: 70%;
    /* height: 300px; */
  }

  .drag-svg-icon{
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1440px) {
  .popup {
    width: 34%;
  }
  .main{
    padding: 0px;
  }
  .dropzone-container{
    width: 95%;
    margin-left: auto;
    height: 480px;
    padding: 15px;
  }
  .dropzone-box{
    border-radius: 10px;
    font-size: 12px;
    padding: 30px;
    width: 50%;
    font-size: 20px;
    /* height: 300px; */
  }

  .drag-svg-icon{
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .main{
    padding: 0px;
  }
  .dropzone-container{
    width: 95%;
    margin-left: auto;
    height: 480px;
    padding: 15px;
  }
  .dropzone-box{
    border-radius: 10px;
    font-size: 12px;
    padding: 30px;
    width: 50%;
    font-size: 20px;
    /* height: 300px; */
  }

  .drag-svg-icon{
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
  }
  .popup {
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0px;
  }
  .sidebar {
    width: 34%;
  }
  .mainsec {
    width: 65%;
  }
  .alignment {
    margin-top: 30px;
  }
  .container {
    max-width: 100%;
  }

  .new-project-container {
    width: 55%;
  }
  
}

@media (max-width: 800px) {
  .new-project-container {
    padding: 15px;
  }
  .new-project-form {
    width: 90%;
  }
  .hell-1 {
    height: 10vh;
  }
  .hell-1 img {
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .main{
    padding: 0px;
  }
  .dropzone-container{
    width: 95%;
    margin: auto;
    height: 480px;
    padding: 15px;
  }

  .dropzone-box{
    border-radius: 10px;
    font-size: 12px;
    padding: 30px;
    /* height: 300px; */
  }

  .drag-svg-icon{
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 600px) {
  .new-project-form {
    padding: 15px;
  }
  .btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
  .new-project-container {
    width: 90%;
  }
  .first {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .alignment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .mainsec {
    width: 100%;
  }
  .hell-1 {
    height: 10vh;
    width: 25%;
  }
  .hell-1 img {
    border-radius: 10px;
  }
  .imagegallery {
    gap: 20px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .main{
    padding: 0px;
  }
  .dropzone-container{
    width: 95%;
    margin: auto;
    height: 480px;
    padding: 15px;
  }

  .dropzone-box{
    border-radius: 10px;
    font-size: 12px;
    /* padding: 30px; */
    width: 90%;
    /* height: 300px; */
  }

  .drag-svg-icon{
    width: 32px;
    height: 32px;
  }

  .drag-icon{
    margin-bottom: 0px;
  }
}

@media (max-width: 300px) {
  .main{
    padding: 0px;
  }
  .dropzone-container{
    width: 95%;
    margin: auto;
    height: 350px;
    padding: 0px 15px;
  }

  .dropzone-box{
    border-radius: 10px;
    font-size: 12px;
    padding: 0px 10px;
    height: 300px;
  }

  .drag-svg-icon{
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
  }
}


.project-dropzone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  background: #121832;
  border-radius: 10px;
  padding: 20px;
}

.project-dropzone-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  padding: 30px;
  border: 2px dashed #FFF6F6;
  border-radius: 10px;
  color: #FFF6F6;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease-in-out;
  font-size: 20px;
  cursor: pointer;
}

.project-dropzone-box:hover {
  cursor: pointer;
  background-color: #fff;
  color: #121832;
  border-color: #121832;
}

.project-dropzone-box p{
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

.project-drag-icon{
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);  /* Dark transparent background */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 9999;  /* Makes sure the overlay appears above other content */
  backdrop-filter: blur(5px); /* Apply the blur effect */
}

/* Spinner styling */
.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Light gray border */
  border-top: 4px solid #ffffff; /* White top border */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Rotation animation */
}

.loading-label{
  font-weight: 500;
  color: white;
}
/* Animation for spinning */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Content styling (it will appear below the loading overlay) */
.content {
  z-index: 1;  /* Makes sure content stays below the overlay when loading */
}